@model App.Domain.ManyToMany.WorkTaskRole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkTaskRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTask!.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
